@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
<title>ChartDirector Sample Code Index</title>
<style type="text/css">
p.demotitle {margin:0px; padding-left:3px; font:bold 10pt verdana; line-height:150%;}
p.demolink {margin:0px; padding:2px 0px 1px 3px; font:9pt verdana;}
</style>
</head>
<body style="margin:0px">
<table style="width:100%; border:0px; border-spacing:0px;">

<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Pie Charts</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Simplepie")" target="indexright">
Simple Pie Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Threedpie")" target="indexright">
3D Pie Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Multidepthpie")" target="indexright">
Multi-Depth Pie Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Sidelabelpie")" target="indexright">
Side Label Layout
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Circlelabelpie")" target="indexright">
Circular Label Layout
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Legendpie")" target="indexright">
Pie Chart with Legend (1)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Legendpie2")" target="indexright">
Pie Chart with Legend (2)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Explodedpie")" target="indexright">
Exploded Pie Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Iconpie")" target="indexright">
Icon Pie Chart (1)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Iconpie2")" target="indexright">
Icon Pie Chart (2)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Multipie")" target="indexright">
Multi-Pie Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Donut")" target="indexright">
Donut Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Threeddonut")" target="indexright">
3D Donut Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Icondonut")" target="indexright">
Icon Donut Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Texturedonut")" target="indexright">
Texture Donut Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Concentric")" target="indexright">
Concentric Donut Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Pieshading")" target="indexright">
2D Pie Shading
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Threedpieshading")" target="indexright">
3D Pie Shading
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Donutshading")" target="indexright">
2D Donut Shading
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Threeddonutshading")" target="indexright">
3D Donut Shading
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Fontpie")" target="indexright">
Text Style and Colors
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Threedanglepie")" target="indexright">
3D Angle
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Threeddepthpie")" target="indexright">
3D Depth
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Shadowpie")" target="indexright">
3D Shadow Mode
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Anglepie")" target="indexright">
Start Angle and Direction
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Donutwidth")" target="indexright">
Donut Width
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Bar Charts</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Simplebar")" target="indexright">
Simple Bar Chart (1)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Simplebar2")" target="indexright">
Simple Bar Chart (2)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Barlabel")" target="indexright">
Bar Labels
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Colorbar")" target="indexright">
Multi-Color Bar Chart (1)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Colorbar2")" target="indexright">
Multi-Color Bar Chart (2)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Softlightbar")" target="indexright">
Soft Bar Shading
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Glasslightbar")" target="indexright">
Glass Bar Shading
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Gradientbar")" target="indexright">
Gradient Bar Shading
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Cylinderlightbar")" target="indexright">
Cylinder Bar Shading
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Threedbar")" target="indexright">
3D Bar Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Cylinderbar")" target="indexright">
Cylinder Bar Shape
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Polygonbar")" target="indexright">
Polygon Bar Shapes
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Stackedbar")" target="indexright">
Stacked Bar Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Percentbar")" target="indexright">
Percentage Bar Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Multibar")" target="indexright">
Multi-Bar Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Softmultibar")" target="indexright">
Soft Multi-Bar Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Glassmultibar")" target="indexright">
Glass Multi-Bar Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Gradientmultibar")" target="indexright">
Gradient Multi-Bar Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Multicylinder")" target="indexright">
Multi-Cylinder Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Multishapebar")" target="indexright">
Multi-Shape Bar Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Overlapbar")" target="indexright">
Overlapping Bar Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Multistackbar")" target="indexright">
Multi-Stacked Bar Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Depthbar")" target="indexright">
Depth Bar Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Posnegbar")" target="indexright">
Positive Negative Bars
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Hbar")" target="indexright">
Borderless Bar Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Dualhbar")" target="indexright">
Dual Horizontal Bar Charts
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Markbar")" target="indexright">
Bars with Marks
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Histogram")" target="indexright">
Histogram with Bell Curve
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Pareto")" target="indexright">
Pareto Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Varwidthbar")" target="indexright">
Variable Width Bar Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Gapbar")" target="indexright">
Bar Gap
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Line Charts</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Simpleline")" target="indexright">
Simple Line Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Compactline")" target="indexright">
Compact Line Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Threedline")" target="indexright">
3D Line Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Multiline")" target="indexright">
Multi-Line Chart (1)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Multiline2")" target="indexright">
Multi-Line Chart (2)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Symbolline")" target="indexright">
Symbol Line Chart (1)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Symbolline2")" target="indexright">
Symbol Line Chart (2)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Missingpoints")" target="indexright">
Missing Data Points
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Unevenpoints")" target="indexright">
Uneven Data Points 
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Splineline")" target="indexright">
Spline Line Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Stepline")" target="indexright">
Step Line Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Linefill")" target="indexright">
Inter-Line Coloring
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Linecompare")" target="indexright">
Line with Target Zone
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Errline")" target="indexright">
Line with Error Symbols
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Multisymbolline")" target="indexright">
Multi-Symbol Line Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Binaryseries")" target="indexright">
Binary Data Series
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Customsymbolline")" target="indexright">
Custom Symbols
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Rotatedline")" target="indexright">
Rotated Line Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Xyline")" target="indexright">
Arbitrary XY Line Chart
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Trending and Curve Fitting</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Trendline")" target="indexright">
Trend Line Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Scattertrend")" target="indexright">
Scatter Trend Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Confidenceband")" target="indexright">
Confidence Band
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Paramcurve")" target="indexright">
Parametric Curve Fitting
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Curvefitting")" target="indexright">
General Curve Fitting
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Scatter/Bubble/Vector Charts</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Scatter")" target="indexright">
Scatter Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Builtinsymbols")" target="indexright">
Built-in Symbols
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Scattersymbols")" target="indexright">
Custom Scatter Symbols
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Scatterlabels")" target="indexright">
Custom Scatter Labels
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Bubble")" target="indexright">
Bubble Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Threedbubble")" target="indexright">
3D Bubble Chart (1)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Threedbubble2")" target="indexright">
3D Bubble Chart (2)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Threedbubble3")" target="indexright">
3D Bubble Chart (3)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Bubblescale")" target="indexright">
Bubble XY Scaling
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Vector")" target="indexright">
Vector Chart
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Area Charts</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Simplearea")" target="indexright">
Simple Area Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Enhancedarea")" target="indexright">
Enhanced Area Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Arealine")" target="indexright">
Area Line Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Threedarea")" target="indexright">
3D Area Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Patternarea")" target="indexright">
Pattern Area Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Stackedarea")" target="indexright">
Stacked Area Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Threedstackarea")" target="indexright">
3D Stacked Area Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Percentarea")" target="indexright">
Percentage Area Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Deptharea")" target="indexright">
Depth Area Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Rotatedarea")" target="indexright">
Rotated Area Chart
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Floating Box/Waterfall Charts</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Boxwhisker")" target="indexright">
Box-Whisker Chart (1)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Boxwhisker2")" target="indexright">
Box-Whisker Chart (2)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Hboxwhisker")" target="indexright">
Horizontal Box-Whisker Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Floatingbox")" target="indexright">
Floating Box Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Waterfall")" target="indexright">
Waterfall Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Posnegwaterfall")" target="indexright">
Pos/Neg Waterfall Chart
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Gantt Charts</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Gantt")" target="indexright">
Simple Gantt Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Colorgantt")" target="indexright">
Multi-Color Gantt Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Layergantt")" target="indexright">
Multi-Layer Gantt Chart
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Contour Charts/Heat Maps</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Contour")" target="indexright">
Contour Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Scattercontour")" target="indexright">
Scattered Data Contour Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Contourcolor")" target="indexright">
Contour Color Scale
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Contourlegend")" target="indexright">
Contour Color Legend
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Smoothcontour")" target="indexright">
Continuous Contour Coloring
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Contourinterpolate")" target="indexright">
Contour Interpolation
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Finance Charts</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Hloc")" target="indexright">
Simple HLOC Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Candlestick")" target="indexright">
Simple Candlestick Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Finance")" target="indexright">
Finance Chart (1)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Finance2")" target="indexright">
Finance Chart (2)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Financesymbols")" target="indexright">
Finance Chart Custom Symbols
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="javascript:window.open('@Url.Action("Index", "Financedemo")', 'financedemo').focus();">
Interactive Financial Chart
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Other XY Chart Features</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Markzone")" target="indexright">
Marks and Zones (1)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Markzone2")" target="indexright">
Marks and Zones (2)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Yzonecolor")" target="indexright">
Y Zone Coloring
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Xzonecolor")" target="indexright">
X Zone Coloring
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Dualyaxis")" target="indexright">
Dual Y-Axis
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Dualxaxis")" target="indexright">
Dual X-Axis
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Multiaxes")" target="indexright">
Multiple Axes
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Fourq")" target="indexright">
4 Quadrant Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Datatable")" target="indexright">
Data Table (1)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Datatable2")" target="indexright">
Data Table (2)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Fontxy")" target="indexright">
Text Style and Colors
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Background")" target="indexright">
Background and Wallpaper
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Logaxis")" target="indexright">
Log Scale Axis
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Axisscale")" target="indexright">
Y-Axis Scaling
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Ticks")" target="indexright">
Tick Density
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">3D Surface Charts</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Surface")" target="indexright">
Surface Chart (1)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Surface2")" target="indexright">
Surface Chart (2)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Surface3")" target="indexright">
Surface Chart (3)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Scattersurface")" target="indexright">
Scattered Data Surface Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Surfaceaxis")" target="indexright">
Surface Chart Axis Types
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Surfacelighting")" target="indexright">
Surface Lighting
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Surfaceshading")" target="indexright">
Surface Shading
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Surfacewireframe")" target="indexright">
Surface Wireframe
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Surfaceperspective")" target="indexright">
Surface Perspective
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">3D Scatter Charts</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Threedscatter")" target="indexright">
3D Scatter Chart (1)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Threedscatter2")" target="indexright">
3D Scatter Chart (2)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Threedscattergroups")" target="indexright">
3D Scatter Groups
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Threedscatteraxis")" target="indexright">
3D Scatter Axis Types
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Polar/Radar Charts</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Simpleradar")" target="indexright">
Simple Radar Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Multiradar")" target="indexright">
Multi Radar Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Stackradar")" target="indexright">
Stacked Radar Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Polarline")" target="indexright">
Polar Line Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Polararea")" target="indexright">
Polar Area Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Polarspline")" target="indexright">
Polar Spline Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Polarscatter")" target="indexright">
Polar Scatter Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Polarbubble")" target="indexright">
Polar Bubble Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Polarvector")" target="indexright">
Polar Vector Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Rose")" target="indexright">
Simple Rose Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Stackrose")" target="indexright">
Stacked Rose Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Polarzones")" target="indexright">
Circular Zones
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Polarzones2")" target="indexright">
Sector Zones
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Pyramids/Cones/Funnels</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Simplepyramid")" target="indexright">
Simple Pyramid Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Threedpyramid")" target="indexright">
3D Pyramid Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Rotatedpyramid")" target="indexright">
Rotated Pyramid Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Cone")" target="indexright">
Cone Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Funnel")" target="indexright">
Funnel Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Pyramidelevation")" target="indexright">
Pyramid Elevation
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Pyramidrotation")" target="indexright">
Pyramid Rotation
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Pyramidgap")" target="indexright">
Pyramid Gap
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Angular Meters/Guages</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Semicirclemeter")" target="indexright">
Semicircle Meter
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Colorsemicirclemeter")" target="indexright">
Color Semicircle Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Blacksemicirclemeter")" target="indexright">
Black Semicircle Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Whitesemicirclemeter")" target="indexright">
White Semicircle Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Semicirclemeterreadout")" target="indexright">
Semicircle Meter with Readout
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Roundmeter")" target="indexright">
Round Meter
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Colorroundmeter")" target="indexright">
Color Round Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Blackroundmeter")" target="indexright">
Black Round Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Whiteroundmeter")" target="indexright">
White Round Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Neonroundmeter")" target="indexright">
Neon Round Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Roundmeterreadout")" target="indexright">
Round Meters with Readout
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Rectangularmeter")" target="indexright">
Rectangular Angular Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Squareameter")" target="indexright">
Square Angular Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Angularpointer")" target="indexright">
Angular Meter Pointers (1)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Angularpointer2")" target="indexright">
Angular Meter Pointers (2)
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Iconameter")" target="indexright">
Icon Angular Meter
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Linear Meters/Guages</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Hlinearmeter")" target="indexright">
Horizontal Linear Meter
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Colorhlinearmeter")" target="indexright">
Color Horizontal Linear Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Blackhlinearmeter")" target="indexright">
Black Horizontal Linear Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Whitehlinearmeter")" target="indexright">
White Horizontal Linear Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Hlinearmeterorientation")" target="indexright">
H-Linear Meter Orientation
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Vlinearmeter")" target="indexright">
Vertical Linear Meter
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Colorvlinearmeter")" target="indexright">
Color Vertical Linear Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Blackvlinearmeter")" target="indexright">
Black Vertical Linear Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Whitevlinearmeter")" target="indexright">
White Vertical Linear Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Vlinearmeterorientation")" target="indexright">
V-Linear Meter Orientation
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Multihmeter")" target="indexright">
Multi-Pointer Horizontal Meter
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Multivmeter")" target="indexright">
Multi-Pointer Vertical Meter
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Linearzonemeter")" target="indexright">
Linear Zone Meter
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Bar Meters/Guages</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Hbarmeter")" target="indexright">
Horizontal Bar Meter
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Colorhbarmeter")" target="indexright">
Color Horizontal Bar Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Blackhbarmeter")" target="indexright">
Black Horizontal Bar Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Whitehbarmeter")" target="indexright">
White Horizontal Bar Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Hbarmeterorientation")" target="indexright">
H-Bar Meter Orientation
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Vbarmeter")" target="indexright">
Vertical Bar Meter
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Colorvbarmeter")" target="indexright">
Color Vertical Bar Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Blackvbarmeter")" target="indexright">
Black Vertical Bar Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Whitevbarmeter")" target="indexright">
White Vertical Bar Meters
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Vbarmeterorientation")" target="indexright">
V-Bar Meter Orientation
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Clickable Charts</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Clickbar")" target="indexright">
Simple Clickable Charts
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Jsclick")" target="indexright">
Javascript Clickable Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Customclick")" target="indexright">
Custom Clickable Objects
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Programmable Track Cursor</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Tracklegend")" target="indexright">
Track Line with Legend
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Tracklabel")" target="indexright">
Track Line with Data Labels
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Trackaxis")" target="indexright">
Track Line with Axis Labels
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Trackvlegend")" target="indexright">
Track Line with Vertical Legend
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Trackbox")" target="indexright">
Track Box with Floating Legend
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Trackfinance")" target="indexright">
Finance Chart Track Line
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="@Url.Action("Index", "Crosshair")" target="indexright">
Crosshair with Axis Labels
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Zooming and Scrolling</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="javascript:window.open('@Url.Action("Index", "Simplezoomscroll")', 'simplezoomscroll').focus();">
Simple Zooming and Scrolling
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="javascript:window.open('@Url.Action("Index", "Zoomscrolltrack")', 'zoomscrolltrack').focus();">
Zoom/Scroll with Track Line
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="javascript:window.open('@Url.Action("Index", "Viewportcontroldemo")', 'viewportcontroldemo').focus();">
Zoom/Scroll Viewport Control
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="javascript:window.open('@Url.Action("Index", "Xyzoomscroll")', 'xyzoomscroll').focus();">
XY Zooming and Scrolling
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>
<tr><td colspan="2" style="background:#9999FF"><p class="demotitle">Realtime Charts</p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="javascript:window.open('@Url.Action("Index", "Realtimedemo")', 'realtimedemo').focus();">
Simple Realtime Chart
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="javascript:window.open('@Url.Action("Index", "Realtimesnapshot")', 'realtimesnapshot').focus();">
Realtime Chart with Snapshot
</a></p></td></tr>
<tr valign="top"><td><p class="demolink">&#8226;</p></td><td><p class="demolink">
<a href="javascript:window.open('@Url.Action("Index", "Realtimetrack")', 'realtimetrack').focus();">
Realtime Chart with Track Line
</a></p></td></tr>
<tr><td><p class="demolink">&nbsp;</p></td></tr>

</table>
</body>
</html>

